<ion-content [fullscreen]="true">
<div class="header">
  <div class="top-header">
  <img src="../assets/Logo.png" alt="" class="logo">
    <div class="icons">
      <img src="../assets/config.png" alt="" class="config">
      <img src="../assets/notification.png" alt="" class="notification">
    </div>
  </div>
  <div class="bottom-header">
      <p>Olá, {{ nomeUsuario }}</p>
  </div>
</div>

<div class="main">
  <h2>Sem viagens planejadas :c</h2>
  <img src="../assets/notrip.png" alt="">
  <div class="main-buttons">
    <button class="criar-viagem" onclick="location.href='/criar-viagem'">Criar uma viagem</button>
    <button class="entrar-viagem">Entrar em uma viagem</button>
  </div>
</div>

</ion-content>

