<ion-content [fullscreen]="true">
  <div class="voltar">
    <a href="/landing"><img src="../../assets/voltar.png" alt="" /></a>
  </div>
  <div class="container">
    <div class="main-container">
      <img src="../../assets/Logo.png" class="logo-img" />
      <h1 class="subtitle">seu planejador de viagens em grupo!</h1>
    </div>

    <div class="reset-ctn">
      <h1>Insira seu e-mail</h1>
      <p>Enviaremos um link para redefinir a senha</p>
    </div>
    <div class="input-group">
      <input type="email" id="email" placeholder=" " required />
      <label for="email">E-MAIL</label>
      <button class="send-btn">ENVIAR</button>
    </div>
  </div>
</ion-content>
