
// voltar

.voltar {
  width: 35px;
  margin-top: 1rem;
  margin-left: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.subtitle {
  font-size: 16px;
  color: #0fc3e8;
  text-align: center;
}

.logo-img {
  width: 250px;
}

.reset-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-ctn h1 {
  font-size: 36px;
  color: #0194be;
  margin-bottom: 0;
}

.reset-ctn p {
  margin: 0;
  font-size: 14px;
  color: #0195bec4;
}

.input-group {
  position: relative;
  margin: 2rem 2rem 20px 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group input {
  font-family: "Sulphur Point", sans-serif;
  width: 100%;
  padding: 18px 12px 18px;
  font-size: 16px;
  border: 2px solid #00aee7;
  border-radius: 12px;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 174, 231, 0.6);
  background: none;
  color: #00ade7b4;
}

.input-group label {
  position: absolute;
  top: 20px;
  left: 12px;
  background-color: white;
  padding: 0 6px;
  font-size: 16px;
  color: #00aee7;
  font-weight: bold;
  letter-spacing: 1px;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -8px;
  font-size: 14px;
}

.input-group button {
  margin-top: 1rem;
}

.send-btn {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid #0fc3e8;
  cursor: pointer;
  background-color: transparent;
  color: #0fc3e8;
  width: 70%;
}
