<ion-content [fullscreen]="true">
  <div class="voltar">
    <a href="/landing"><img src="../../assets/voltar.png" alt="" /></a>
  </div>

  <div class="main-container">
    <img src="../../assets/Logo.png" class="logo-img" />
    <h1 class="subtitle">seu planejador de viagens em grupo!</h1>
  </div>

  <div class="inputs">
    <div class="input-group">
      <input type="email" id="email" placeholder=" " required />
      <label for="email">E-MAIL</label>
    </div>

    <div class="input-group">
      <input type="password" id="senha" placeholder=" " required />
      <label for="senha">SENHA</label>
      <div class="forgot-pw">
        <a href="/reset-password">Esqueceu a senha?</a>
      </div>
    </div>

    <div class="login-signup">
      <button onclick="location.href='/signup'" class="signup-button">
        Entrar
      </button>
    </div>
  </div>
</ion-content>
