<ion-content [fullscreen]="true">
<div class="header">
  <div class="top-header">
  <img src="../assets/Logo.png" alt="" class="logo">
    <div class="icons">
      <img src="../assets/config.png" alt="" class="config">
      <img src="../assets/notification.png" alt="" class="notification">
    </div>
  </div>
  <div class="bottom-header">
      <p>Olá, usuário!</p>
  </div>
</div>

<div class="main">
  <h1>Criar uma viagem</h1>
  <div class="form">
    <label for="viagem">Qual o nome da viagem?*</label>
    <input type="text" id="viagem" placeholder="ex.: férias em família, viagem à trabalho.">

    <div class="destino">
      <label for="destino">Destino*</label>
      <input type="text" id="destino" placeholder="para onde vai viajar?">
      </div>
      <div class="destino-datas">
        <div class="ida">
          <label for="data-ida">Ida</label>
          <span id="data-ida">
            <input type="text" id="dia-ida" placeholder="DD" maxlength="2" class="input-ida" (keydown)="handleKeyDown('dia-ida', $event)">
            <input type="text" id="mes-ida" placeholder="MM" maxlength="2" class="input-ida" (keydown)="handleKeyDown('mes-ida', $event)">
            <input type="text" id="ano-ida" placeholder="AAAA" maxlength="4" class="input-ida" (keydown)="handleKeyDown('ano-ida', $event)">
          </span>
        </div>


      <div class="volta">
        <label for="data-volta">Volta</label>
      <span id="data-volta">
          <input type="text" id="dia-volta" placeholder="DD" maxlength="2" class="input-volta" (keydown)="handleKeyDown('dia-volta', $event)">
          <input type="text" id="mes-volta" placeholder="MM" maxlength="2" class="input-volta" (keydown)="handleKeyDown('mes-volta', $event)">
          <input type="text" id="ano-volta" placeholder="AAAA" maxlength="4" class="input-volta" (keydown)="handleKeyDown('ano-volta', $event)">
        </span>
      </div>
    </div>


    <div class="orcamento-ctn">
      <label for="orcamento">Orçamento</label>
      <input type="text" id="viagem" placeholder="Qual seu orçamento para essa viagem? (opcional)">
      <label for="orcamento-check" class="container">
        <input type="checkbox" id="orcamento-check">
        Ocultar orçamento para o restante do grupo
      </label>
    </div>
  </div>
  
  <div class="buttons">
    <button class="gerar-viagem">Gerar código de grupo</button>
    <hr>
    <a href="#">Cancelar</a>
  </div>
  
</div>

</ion-content>
