@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

* {
  font-family: "Staatliches", sans-serif;
}

.hr {
  height: 3px;
  width: 60%;
  background: #0194BE;
  display: block;
  font-size: 2em;
  opacity: 1;
  visibility: visible;
}

span {
    text-decoration: underline;
}

.header {
    margin: 1.5rem 1.5rem 0 1.5rem;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    gap: 1rem;
}

.logo {
    width: 150px;
}

.config, .notification {
    width: 35px;
}

.bottom-header p {
    font-size: 22px;
    margin-top: 1rem;
    color: #0194BE;
    letter-spacing: 2px;
}

// PRINCIPAL

.main {
    background-color: #CFFAFF;
    padding-top: .5rem;
    min-height: 80vh;
}

.main h1 {
    text-align: center;
    text-decoration: underline;
    color: #0194BE;
    letter-spacing: 1px;

}

// FORM

.form {
    margin: 1.5rem 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}   

.form label {
    color: #0194BE;
    letter-spacing: 1px;
    text-decoration: underline;
    margin-left: .5rem;
    font-size: 18px;

}

.form input {
  width: 100%;
  padding: 18px 12px 18px;
  font-size: 12px;
  border: 3px solid #0194BE;
  border-radius: 12px;
  outline: none;
  background: none;
  color: #00ade7b4;
  margin-top: .5rem;
  letter-spacing: 1px;
}


::placeholder {
  color: #0195bea3;
}

.resp-ctn {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.resp-ctn img {
    width: 60px;
    height: 60px;
}

.pessoas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
}

.pessoas p {
    margin: 0;
    color: #0194BE;
}

.selected {
    border: 2px dashed #00ade7b4;

}

input[type=checkbox] {
    transform: scale(1.5);
    margin-right: .5rem; 
    width: auto !important;
}

.checkbox-ctn {
    margin-top: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.buttons button {
    width: 280px;
    padding: 20px;
    border-radius: 8px;
    background-color: #0194BE;
    color: white;
    font-size: 22px;
    text-decoration: underline;
    letter-spacing: 1px;
}

.buttons a {
    font-size: 22px;
}