<ion-content [fullscreen]="true">
<div class="header">
  <div class="top-header">
  <img src="../assets/Logo.png" alt="" class="logo">
    <div class="icons">
      <img src="../assets/config.png" alt="" class="config">
      <img src="../assets/notification.png" alt="" class="notification">
    </div>
  </div>
  <div class="bottom-header">
      <p>Olá, usuário!</p>
  </div>
</div>

<div class="main">
  <div class="viagem-criada">
    <h1>NOME DA VIAGEM</h1>
    <h2>viagem criada com sucesso!</h2>
  </div>

  <div class="enviar-codigo">
    <p>enviar por</p>
    <div class="icones">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
    </div>
    
  </div>
