
.hr {
  height: 4px;
  width: 50%;
  background: #0fc3e8;
  display: block;
  font-size: 2em;
  opacity: 1;
  visibility: visible;
}
 
// header

.header {
    margin: 1.5rem 1.5rem 0 1.5rem;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    gap: 1rem;
}

.logo {
    width: 150px;
}

.config, .notification {
    width: 35px;
}

.bottom-header p {
    font-size: 22px;
    margin-top: 1rem;
    color: #0194BE;
    letter-spacing: 2px;
}

// main 

.main {
    background-color: #CFFAFF;
    padding-top: .5rem;
    height: 80.5vh;
}

.viagem-criada {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.viagem-criada h1 {
    margin: 0;
    text-decoration: underline;
    font-size: 30px;
    color: #0194BE;
    letter-spacing: 1px;
}

.viagem-criada h2 {
    margin-bottom: 0;
    font-size: 18px;
    color: #0194BE;
    opacity: 0.7;
}

.enviar-codigo p {
    font-size: 16px;
    color: #0194BE;
    text-align: center;
    margin-bottom: .5rem;
}

.icones {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.icones img {
    width: 40px;

}

.codigo-container {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 20px 0;
}

.codigo-box {
  background-color: #0194BE;
  color: #CFFAFF;
  font-size: 20px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.codigos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.codigos h2 {
    font-size: 26px;
    text-decoration: underline;
    text-align: center;
    color: #0194BE;
}

.codigo-qr {
    margin-top: 20px;
    border-radius: 15px;
    border: 8px solid #0194BE;
    box-shadow: 2px 2px 20px 4px #0194BE;
    padding: 0.8rem;
}

.codigo-qr img {
    opacity: 0.8;
}

.codigos p {
    text-align: center;
    font-size: 14px;
    width: 60%;
    color: #0194BE;
}

.botao-voltar {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.botao-voltar button {
    font-size: 18px;
    padding: 1rem;
    background-color: #0194BE;
    color: #CFFAFF;
    border-radius: 10px;
    width: 200px;
}