

* {
  margin: 0;
  padding: 0;
}

.hr {
  height: 4px;
  width: 80%;
  background: #0194BE;
  display: block;
  font-size: 2em;
  opacity: 1;
  visibility: visible;
  margin-top: 1rem;
}

.header {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    background-color: white;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    gap: 1rem;
}

.logo {
    width: 150px;
}

.config, .notification {
    width: 40px;
}

.bottom-header p {
    font-size: 22px;
    margin-top: 1rem;
    color: #0194BE;
    letter-spacing: 2px;
}

// PRINCIPAL

.main {
    background-color: #CFFAFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
    min-height: 81vh;
}

.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile p {
    font-size: 22px;
    color: #0194BE;
    letter-spacing: 1px;
}

.profile-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    background-color: rgba($color: #0194BE, $alpha: 0.3);
    padding: 10px;
    border-radius: 10px;
    width: 85%;
    gap: 1rem;
    padding-bottom: 1rem;
}

.profile-info h2 {
    color: #0194BE;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.profile-info-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.profile-info-content label {
    color: #0194BE;
    letter-spacing: 1.5px;
    font-size: 18px;
}

.profile-info button {
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    width: 70%;
    background-color: #0194BE;
    color: #fff;
}

.profile-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
}

.profile-buttons button {
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    width: 70%;
    color: #fff;
}

.alterar-senha {
    background-color: #0194BE;
}

.excluir-conta {
    background-color: rgba($color: #BE013D, $alpha: 0.7);
}

.profile-info-content input {
    padding: 10px;
    border-radius: 8px;
        width: 100%;
}

.btn-cancelar {
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    width: 70%;
    color: #fff;
    background-color: rgba($color: #BE013D, $alpha: 0.7) !important;
}

.edicao-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-alterar-senha {
display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    background-color: rgba(1, 148, 190, 0.3);
    padding: 10px;
    border-radius: 10px;
    width: 85%;
    gap: 1rem;
    padding-bottom: 1rem;
}

.inputs-senha {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-alterar-senha label {
color: #0194BE;
    letter-spacing: 1.5px;
    font-size: 18px;
}

.form-alterar-senha input {
padding: 10px;
    border-radius: 8px;
    width: 100%;
    background-color: rgba(239, 239, 239, 0.3);
    border-color: rgba(118, 118, 118, 0.3);
}

.form-alterar-senha h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #0194BE;
}

.alterar-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;

}

.alterar-buttons button {
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
}

.confirmar-senha-btn {
    color: #fff;
    background-color: #0194BE;
}

.cancelar-btn {
    background-color: rgba(190, 1, 61, 0.7);
    color: #fff;
}