
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<ion-content [fullscreen]="true">
  <div class="voltar">
    <button class="voltar-btn">
      <img src="voltar.png" alt="">
    </button>
  </div>

  <div class="logo-ctn">
    <img src="../../assets/Logo.png" class="logo-img" alt="">
     <h1 class="subtitle">seu planejador de viagens em grupo!</h1>
  </div>
  

  <div class="cadastro">
    <h2 class="signup-title">Cadastro</h2>
  </div>

  <div class="inputs">
    <input type="text" placeholder="Digite seu nome completo" class="input-field">
    <input type="date" placeholder="" class="input-field">
    <input type="tel" placeholder="(xx) xxxxx-xxxx" class="input-field">
    <input type="email" placeholder="Digite seu e-mail" class="input-field">
    <input type="number" placeholder="Digite seu CPF (somente números)" class="input-field">
    <input type="password" placeholder="Digite sua senha" class="input-field">
    <input type="password" placeholder="Confirme sua senha" class="input-field">
  </div>

  <div class="signup-ctn">
    <button class="signup-button">
      Cadastre-se
    </button>
  </div>
</ion-content>
